body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* scrollbar-width: thin; */
}

body::-webkit-scrollbar {
    width: 0.6em;
}

body::-webkit-scrollbar-track {
    /* Si no quieres los bordes redondeados borra la siguiente línea */
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #212021;
    box-shadow: inset 0 0 6px #212021;
}

body::-webkit-scrollbar-thumb {
    background-color: #666;
    /* Si no quieres los bordes redondeados descomenta la siguiente línea para utilizar una línea superior e inferior para darle una sensación de profundidad a la barra */
    /* outline: 1px solid #333; */
    border-radius: 10px;
}

strong {
    margin-right: 5px;
}

img {
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
}

h6 {
    margin: 0;
}

a {
    text-decoration: none;
}